*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.caixa-topo{
    background-color: darkgrey;
    padding: 15px;
    margin:  50px;
    text-align: center;
    border-bottom: 4px solid rgb(59, 59, 59);
    font-size: medium;
    padding-top: 25px;
}
h1{
    font-size: 40px;
}
.sub-title-top{
font-size: 26px;
}

main{
    background-color: #eee;
    min-height: 60vh;
    padding: 90px;
    margin: 100px;
    margin-top: 0px;
    margin-block-end: 0px;
    font-size: x-large;
    text-align: justify;
}
body{
    background-color: rgb(77, 75, 75);
}